{% include base_path %}

{% assign author = site.author %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ base_path }}{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}
      <p class="author__pronouns">{{ author.pronouns }}</p>
    {% endif %}
    {% if author.bio %}
      <p class="author__bio">{{ author.bio }}</p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li class="author__desktop">
          <i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}
        </li>
      {% endif %}
      {% for link in author.links %}
        <li>
          <a href="{{ link.url }}">
            <i class="{{ link.icon }} icon-pad-right" aria-hidden="true"></i>{{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
